In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect("News.sqlite3")
cur = conn.cursor()

In [5]:
create_db_str = """
CREATE TABLE Artists(
    artistId INTEGER PRIMARY KEY,
    name TEXT
    )
"""

In [13]:
conn.close()

In [79]:
cur.execute("DROP TABLE Article")

In [6]:
cur.execute(create_db_str)
conn.commit()

In [8]:
cur.execute("INSERT INTO Artists (name) VALUES('Bud Powell');")

In [12]:
cur.execute("SELECT * FROM Artists").fetchall()

[(1, 'Bud Powell')]

In [64]:
create_index_str = """
CREATE UNIQUE INDEX index_news_id 
    ON Article(news_id);
"""

In [65]:
cur.execute(create_index_str)

In [35]:
def insert_news_one(title: str,
                    subtitle: str,
                    article: str,
                    source: str,
                    api_source: str,
                    country: int,
                    creation_date: str,
                    update_date: str,
                    author: str
                   ):
    
    insert_one_str = f"""
        INSERT INTO Article 
            VALUES(
                {title}, 
                {subtitle}, 
                {article}, 
                {source}, 
                {api_source}, 
                {country}, 
                {creation_date}, 
                {update_date}, 
                {author}
                )
    """
    query_output = False
    try:
        cur.execute(insert_one_str)
        con.commit()
        query_output = True
    except:
        print("Error. insert_news_one() method failed")
    query_output

def insert_news_many(data):
    insert_many_str = """
        INSERT INTO Article  VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)
    """
    query_output = False
    try:
        cur.executemany(insert_one_str, data)
        con.commit()
        query_output = True
    except:
        print("Error. insert_news_many() method failed")
    return query_output

In [33]:
def select_one(data):
    select_query_str = """
        SELECT title, country
            FROM Article
        """
    query_output = None
    try:
        query_output = cur.execute(select_query_str, data)
        con.commit()
    except:
        print("Error. insert_news_many() method failed")
    return query_output

In [85]:
title = "Gran noticia 1", 
subtitle = "Subtitulo de gran noticia 1"
article = "Una gran noticia 1 ha acontencido"
source = "False BBC"
api_source = "best-news api"
country = "Ireland"
creation_date = "19-05-2023 10:39:01"
update_date = "19-05-2023 11:07:23"
author = "Hillary Smith"
data = [1, title, subtitle, article, source, api_source, country, creation_date, update_date, author]

insert_one_str = """
    INSERT INTO Article 
        VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
"""
query_output = False
cur.execute(insert_one_str, data)
con.commit()
query_output = True

InterfaceError: Error binding parameter 1 - probably unsupported type.

In [86]:
insert_news_one("Gran noticia 1", 
                "Subtitulo de gran noticia 1",
                "Una gran noticia 1 ha acontencido",
                "False BBC",
                "best-news api",
                1,
                "19/05/2023 10:39:01",
                "19/05/2023 11:07:23",
                "Hillary Smith"
               )

Error. insert_news_one() method failed

In [34]:
select_query_str = """
SELECT title, country
FROM Article
"""

query_output = cur.execute(select_query_str)
query_output.fetchall()

[]