In [43]:
import pandas as pd
import os
from datetime import datetime
from constants import PATH_STATS

SEP = ";"

In [3]:
os.listdir(os.path.join(PATH_STATS, "webscraping", "processes_2023 09 21"))

['process_2023 09 21_23 13 20_pid_10420.csv',
 'process_2023 09 21_23 13 20_pid_10632.csv',
 'process_2023 09 21_23 13 20_pid_10788.csv',
 'process_2023 09 21_23 13 20_pid_12420.csv',
 'process_2023 09 21_23 13 20_pid_13980.csv',
 'process_2023 09 21_23 13 20_pid_17444.csv',
 'process_2023 09 21_23 13 20_pid_19000.csv',
 'process_2023 09 21_23 13 20_pid_20408.csv',
 'process_2023 09 21_23 13 20_pid_6536.csv',
 'process_2023 09 21_23 13 20_pid_9948.csv',
 'process_2023 09 21_23 13 20_pid_summary.csv']

In [33]:
# datetime.today().strftime("%Y %m %d")
# datetime.today().isoformat(sep=" ", timespec="hours")
datetime.today().strftime("%Y %m %d")

'2023 09 09/21/23'

In [31]:
files_same_date = []
date = "2023 09 21_23 13 20"
process_folder = "processes_2023 09 21"
main_path = os.path.join(PATH_STATS, "webscraping", process_folder)
for f_name in os.listdir(main_path):
    if date in f_name:
        files_same_date.append(f_name)
files_same_date

['process_2023 09 21_23 13 20_pid_10420.csv',
 'process_2023 09 21_23 13 20_pid_10632.csv',
 'process_2023 09 21_23 13 20_pid_10788.csv',
 'process_2023 09 21_23 13 20_pid_12420.csv',
 'process_2023 09 21_23 13 20_pid_13980.csv',
 'process_2023 09 21_23 13 20_pid_17444.csv',
 'process_2023 09 21_23 13 20_pid_19000.csv',
 'process_2023 09 21_23 13 20_pid_20408.csv',
 'process_2023 09 21_23 13 20_pid_6536.csv',
 'process_2023 09 21_23 13 20_pid_9948.csv',
 'process_2023 09 21_23 13 20_pid_summary.csv']

In [36]:
df = []
for file in files_same_date:
    if "summary" not in file:
        df.append(pd.read_csv(os.path.join(main_path, file), 
                              sep=SEP,
                              names=["media_url",
                                     "n_urls",
                                     "n_body_gpt",
                                     "duration"
                                     ]
                                     )
                                     )
df = pd.concat(df, axis=0).iloc[1:]
df = df.astype({"media_url": "str", 
                "n_urls": "int", 
                "n_body_gpt": "int", 
                "duration": "float"})
print(df.shape)
df.head()

(54, 4)

                                  media_url  n_urls  n_body_gpt  duration
1            https://www.huffingtonpost.es/      69           0      18.1
2                 https://www.elplural.com/      29           0       3.8
3  https://www.elperiodicomediterraneo.com/     148           0     164.7
4                https://www.elcomercio.es/      87           0     211.4
5                          https://efe.com/      49           0      24.2

In [37]:
counts = df.filter(regex="n_").sum()
counts, df["duration"].max() / 60

(n_urls        4119
 n_body_gpt       0
 dtype: int64,
 5.176666666666667)

In [38]:
df.to_csv(os.path.join(main_path, 
                       "process_" + date + "_concat.csv"))

In [39]:
for file in os.listdir(os.path.join(main_path)):
    if "summary" not in file and "concat" not in file:
        os.remove(os.path.join(main_path, file))

In [44]:
df_summary = pd.read_csv(os.path.join(main_path, files_same_date[-1]), 
                                   sep=SEP,
                                   header=None,
                                   names=["media_url",
                                          "n_urls",
                                          "n_body_gpt",
                                          "duration"
                                          ])
df_summary = df_summary.iloc[1:]
df_summary = df_summary.astype({"media_url": "str", 
                "n_urls": "int", 
                "n_body_gpt": "int", 
                "duration": "float"})
df_summary.head()

         media_url  n_urls  n_body_gpt  duration
1  Process summary     407           0     449.5
2  Process summary     386           0     460.3
3  Process summary     391           0     467.8
4  Process summary     444           0     498.8
5  Process summary     385           0     518.3

In [45]:
counts_summ = df_summary.filter(regex="n_").sum()
counts_summ, df_summary["duration"].max() / 60

(n_urls        3809
 n_body_gpt       0
 dtype: int64,
 11.948333333333332)