In [5]:
import pandas as pd
import sqlite3
import os

In [7]:
os.listdir("../../")

['.git',
 '.gitignore',
 'db.sqlite3',
 'DWAD',
 'fast_news.sqlite3',
 'gptnews_web',
 'instructions-diagrams-and-documents',
 'LICENSE',
 'manage.py',
 'news',
 'README.md',
 'testing']

In [69]:
def read_garbage(where_params):
    with sqlite3.connect("../../db.sqlite3", 
                         timeout=10) as conn:
        cursor = conn.cursor()
        if not isinstance(where_params, (tuple, list)):
            where_params = (where_params, )
        query_str = """
            SELECT 
                url,
                mediaUrl
            FROM 
                garbage
            """
        return cursor.execute(query_str).fetchall()

def read_garbage_where(where_params):
    with sqlite3.connect("../../db.sqlite3", 
                         timeout=10) as conn:
        cursor = conn.cursor()
        if not isinstance(where_params, (tuple, list)):
            where_params = (where_params, )
        query_str = """
            SELECT 
                url,
                mediaUrl
            FROM 
                garbage
            WHERE
                url = ?
            AND
                mediaUrl = ?
            """
        return cursor.execute(query_str, 
                              where_params).fetchall()

media_url = "https://www.ultimahora.es/"
input_urls = ["https://www.tiktok.com/", "https://", "dadsgddgf"]

read_urls = pd.DataFrame(read_garbage((media_url, )), 
                         columns=["in_store", "media_store"]
                         )
print(read_urls.head())
# Urls from garbage table query
novel_urls = read_urls.merge(pd.DataFrame({"in_extraction": input_urls, 
                                           "media_extraction": [media_url] * len(input_urls)}) \
                                        .drop_duplicates(), 
                         left_on=["in_store", "media_store"], 
                         right_on=["in_extraction", "media_extraction"], 
                         how="right"
                            )
print(novel_urls.head())
# Merge extracted and loaded news in order to process the new ones
urls_to_process = novel_urls.loc[novel_urls[["in_store", "media_store"]].isnull().all(axis=1), "in_extraction"] \
                            .tolist()

   in_store                           media_store
0  https://  https://cronicaglobal.elespanol.com/
1  https://                      https://efe.com/
2  https://                   https://elpais.com/
3  https://            https://lavozdegalicia.es/
4  https://                 https://okdiario.com/
                  in_store                 media_store  \
0  https://www.tiktok.com/  https://www.ultimahora.es/
1                 https://  https://www.ultimahora.es/
2                      NaN                         NaN

             in_extraction            media_extraction
0  https://www.tiktok.com/  https://www.ultimahora.es/
1                 https://  https://www.ultimahora.es/
2                dadsgddgf  https://www.ultimahora.es/

In [70]:
novel_urls

,in_store,media_store,in_extraction,media_extraction
0,https://www.tiktok.com/,https://www.ultimahora.es/,https://www.tiktok.com/,https://www.ultimahora.es/
1,https://,https://www.ultimahora.es/,https://,https://www.ultimahora.es/
2,NaN,NaN,dadsgddgf,https://www.ultimahora.es/

In [71]:
novel_urls.in_store == novel_urls.in_extraction, \
novel_urls.media_store == novel_urls.media_extraction

(0     True
 1     True
 2    False
 dtype: bool,
 0     True
 1     True
 2    False
 dtype: bool)

In [80]:
import re

In [78]:
read_urls.merge(pd.DataFrame({"in_extraction": input_urls, 
                                           "media_extraction": [media_url] * len(input_urls)}) \
                                        .drop_duplicates(), 
                         left_on=["in_store", "media_store"], 
                         right_on=["in_extraction", "media_extraction"], 
                         how="right"
                            )

,in_store,media_store,in_extraction,media_extraction
0,https://www.tiktok.com/,https://www.ultimahora.es/,https://www.tiktok.com/,https://www.ultimahora.es/
1,https://,https://www.ultimahora.es/,https://,https://www.ultimahora.es/
2,NaN,NaN,dadsgddgf,https://www.ultimahora.es/

In [79]:
novel_urls.loc[novel_urls[["in_store", "media_store"]].isnull().all(axis=1), "in_extraction"]

2    dadsgddgf
Name: in_extraction, dtype: object

In [49]:
novel_urls

,in_store,media_store,in_extraction,media_extraction
0,https://www.tiktok.com/,https://www.ultimahora.es/,https://www.tiktok.com/,https://www.ultimahora.es/

In [15]:
read_garbage_where(("https://www.tiktok.com/", 
                    "https://www.ultimahora.es/"
                   ))

[('https://www.tiktok.com/', 'https://www.ultimahora.es/')]